<%- include("partials/header") %>
<h1>Home</h1>
<p><%= para %></p>
 <% post.forEach(function(element){ %>
   <h3> <%= element.title %> </h3>
   <p> <%= element.content %>  </p>
   <a href="/post/<%= element.title%> ">Read more</a>
<% }) %>


<%- include("partials/footer") %>